<!-- header -->
<%- include('partials/_header') %>
<!-- partial:sidebar -->
<%- include('partials/_sidebar') %>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <!-- partial:navbar -->
  <%- include('partials/_navbar') %>
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">

      <!-- page content -->

    </div>
    <!-- partial:footer -->
    <%- include('partials/_footer') %>
    <!-- partial -->
  </div>

</div>

<%- include('partials/_footerbottom.ejs') %>